.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;

}
.ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 2rem 5rem 0 0;
}

.li a{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: white;
    transition: .3s;
}

.li a:hover {
    color: rgba(0, 0, 0, 0.5);
}